<div class="wrapper">
    <!-- Sidebar -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h4>Езера</h4>
        </div>

        <ul class="list-unstyled components">

            <li>
                <a href="#">Езеро Козјак</a>
            </li>
            <li>
                <a href="#">Езеро Тиквеш</a>
            </li>
            <li>
                <a href="#">Липковско Езеро</a>
            </li>
            <li>
                <a href="#">Охридско Езеро</a>
            </li>
            <li>
                <a href="#">Преспанско Езеро</a>
            </li>
            <li>
                <a href="#">Дојранско Езеро</a>
            </li>
            <li>
                <a href="#">Езеро Треска</a>
            </li>
            <li>
                <a href="#">Планински Очи</a>
            </li>

        </ul>
    </nav>

</div>
<script>
    $(document).ready(function () {

$('#sidebarCollapse').on('click', function () {
    $('#sidebar').toggleClass('active');
});

});
</script>