<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light ">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 col-sm-7 col-m-7">
        <img src="../../../assets/img/logo.png" alt="logo" style="width: 70px; height: 70px;">
    <a class="navbar-brand" href="#">ОддалечиСе</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>

  <div class="col-lg-5">
    <div class="collapse navbar-collapse my-2 my-lg-0" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" [routerLink] ="['/home']">Почетна <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink] ="['/mountains']">Планини</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink] ="['/lakes']">Езера</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink] ="['/about-us']">За нас</a>
        </li>

      </ul>
      </div>

    </div>
  </div>
</div>
  </nav>

