<div class="wrapper">
    <!-- Sidebar -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h4>Планини</h4>
        </div>

        <ul class="list-unstyled components">

            <li>
                <a href="#">Беласица</a>
            </li>
            <li>
                <a href="#">Кораб</a>
            </li>
            <li>
                <a href="#">Шар Планина</a>
            </li>
            <li>
                <a href="#">Осоговски Планини</a>
            </li>
            <li>
                <a href="#">Бистра</a>
            </li>
            <li>
                <a href="#">Караџица</a>
            </li>
            <li>
                <a href="#">Малешевски Планини</a>
            </li>
            <li>
                <a href="#">Плачковица</a>
            </li>

        </ul>
    </nav>

</div>
<script>
    $(document).ready(function () {

$('#sidebarCollapse').on('click', function () {
    $('#sidebar').toggleClass('active');
});

});
</script>