
<nav class="navbar navbar-light navbar-expand-lg  nav-fill" style="padding: 3%;">
    <ul class="navbar-nav mr-auto">

    <li class="nav-item">
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Пребарај по име" aria-label="Search">
    </form>
  </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Висина
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="#">Повисоки од 500 метри</a>
        <a class="dropdown-item" href="#">Повисоки од 1000 метри</a>
        <a class="dropdown-item" href="#">Повисоки од 1500 метри</a>
        <a class="dropdown-item" href="#">Повисоки од 2000 метри</a>
        </div>

    </li>

    </ul>
</nav>

<div class="row">

    <div class="col-lg-12 col-md-12 col-sm-12">
        <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d1537251.8619037652!2d20.594016712950104!3d41.1902699785867!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1smacedonia%20mountains!5e0!3m2!1sen!2smk!4v1607251923793!5m2!1sen!2smk" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
     </div>

    <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="col-lg-4 col-md-4">

                </div>
                <div class="col-lg-4 col-md-4">
                  <div class="card">
                    <div class="card-header">
                      Шар Планина
                    </div>
                    <div class="card-body">
                      <blockquote class="blockquote mb-0">
                        <p>Шар Планина е најубата планина во Македонија</p>
                        <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
                      </blockquote>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-4">

                </div>

    </div>
</div>

