
    <header class="masthead">
        <div class="container d-flex h-100 align-items-center">
            <div class="mx-auto text-center">
                <h1 class="mx-auto my-0 text-uppercase">Оддалечи се</h1>
                <h2 class="text-white-50 mx-auto mt-2 mb-5">Запознај се со сите  убавини на нашата земја, излези од секојдневниот градски метеж и диши чист воздух!</h2>

                <div class="social-box">
                    <div class="container">
                         <div class="row">

                                <div class="col-lg-6 col-xs-12 text-center">
                                    <div class="box">
                                        <i class="fa fa-behance fa-3x" aria-hidden="true"></i>
                                        <div class="box-title">
                                            <h3>Планини</h3>
                                        </div>
                                        <div class="box-text">
                                            <span>Ги нудиме најпријатните планински локации како ваше викенд прибежиште..</span>
                                        </div>
                                        <div class="box-btn">
                                            <a [routerLink]="['/mountains']">Посети планини..</a>
                                        </div>
                                     </div>
                                </div>

                                 <div class="col-lg-6 col-xs-12  text-center">
                                    <div class="box">
                                        <i class="fa fa-twitter fa-3x" aria-hidden="true"></i>
                                        <div class="box-title">
                                            <h3>Езера</h3>
                                        </div>
                                        <div class="box-text">

                                            <span>Ги нудиме најубавите езера во Македонија на едно место, побрзајте да ги откриете убавините на природата..</span>
                                        </div>
                                        <div class="box-btn">
                                            <a [routerLink]="['/lakes']">Посети езера..</a>
                                        </div>
                                     </div>
                                </div>


                        </div>
                    </div>
                </div>

                <!-- <div class="row">
                    <div class="col-md-6 col-lg-6 col-sm-6">
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="../../assets/img/Mountain.png" alt="Card image cap">
                            <div class="card-body">
                              <h5 class="card-title">Планини</h5>
                              <p class="card-text">Истражи ги планините во Македонија преку нашата апликација</p>
                              <a href="#" class="btn btn-primary">Каде да патувам?</a>
                            </div>
                          </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-sm-6">
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="../../assets/img/Waves.png" alt="Card image cap">
                            <div class="card-body">
                              <h5 class="card-title">Езера</h5>
                              <p class="card-text">Истражи ги езерата во Македонија преку нашата апликација.</p>
                              <a href="#" class="btn btn-primary">Каде да патувам?</a>
                            </div>
                          </div>
                    </div>
                </div> -->
            </div>
        </div>
    </header>

